.black-color {
    background-color: black;
}

.grey-color {
    background-color: grey;
}

.white-color {
    background-color: whitesmoke;
}

.navy-color {
    background-color: navy;
}

.brown-color {
    background-color: brown;
}

.apricot-color {
    background-color: #FBCEB1;
}

.cream-color {
    background-color: #ffe6b3;
}

.avocado-color {
    background-color: #2eb82e;
}


.lemon-color {
    background-color: #ffff4d;
}

.blue-sky-color {
    background-color: #99ccff;
}

.green-color {
    background-color: #336600;
}

.orange-color {
    background-color: #ff884d;
}

.pink-color {
    background-color: #ff3399;
}

.blue-color {
    background-color: #0066ff;
}

.dark-chocolate-color {
    background-color: #802b00;
}

.yellow-color {
    background-color: #ffff66;
}

.red-color {
    background-color: #ff4d4d;
}

.purple-color {
    background-color: #ff4dd2;
}

.general {
    color: #c74375;
}